extends ../../layout.pug

block content
    a.home(href="/yose24/")
        img.thumb(src="/img/yose24/yose24%20-%2048.jpeg")
        span.box
            p Trip Report: Tuolumne - Banner Loop 
            p.sub (8/12/24 - 8/16/24)
    a.home(href="/yhr-crt/")
        img.thumb(src="/img/yhr/yhr%20-%201.jpeg")
        span.box
            p Trip Report: Clark Range Traverse
            p.sub Yosemite High Route (9/25/23 - 9/28/23)






        







        

