extends ../../layout.pug

block content
    a.home(href="/yhr-crt/")
        .box
            img.thumb(src="/img/yhr/yhr%20-%201.jpeg")
        .box
            p Trip Report: Clark Range Traverse
            p.sub Yosemite High Route (9/25/23 - 9/28/23)






        







        

